<div class="card-body">
    <h5 class="card-title">Vehicle Theft Report</h5>
    <form>
        <div class="form-group">
            <label for="owner-input">Owner</label>
            <input type="text" class="form-control" id="owner-input" placeholder="Enter owner name" />
        </div>
        <div class="form-group">
            <label for="license-no-input">License Number</label>
            <input type="text" class="form-control" id="license-no-input" placeholder="Enter License number" />
        </div>
        <button type="submit" class="btn btn-primary">Report</button>
    </form>
</div>
